<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="template1">
<head>
<meta charset="UTF-8"/>
<title>Entreprises</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">Liste des entreprises</div>
			<div class="panel-body">
				<div class="container">
					<form th:action="@{/entreprises}" method="get">
						<label>Mot Clé : </label>
						<input type="text" name="motCle"/>
						<button type="submit" class="btn btn-primary">Chercher</button>
					</form>
				</div>
				<table class="table table-striped">
					<tr>
						<th>ID</th><th>Nom</th><th>Raison Sociale</th><th>Email</th><th>Taxes</th>
					</tr>
					<tr th:each="e:${listEntreprises}">
						<td th:text="${e.code}"/>
						<td th:text="${e.nom}"/>
						<td th:text="${e.raisonSociale}"/>
						<td th:text="${e.email}"/>
						<td>
							<a th:href="@{/taxes(code=${e.code})}">Taxes</a>
						</td>
					</tr>
				</table>
				<div>
					<ul class="nav nav-pills">
						<li th:class="${status.index==pageCourante}?'active':''" th:each="p,status:${pages}">
							<a th:href="@{entreprises(page=${status.index}, motCle=${motCle})}" th:text="${status.index}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>